<form method=POST action="/result">
<h1>
  Traveling Quiz
</h1>
<p>
Do you want to travel, but don't know where to go? Take my quiz to find out where to go!
</p>
<br>
<h2>
  Question 1
</h2>

What type of envirement do you want to travel to?<br>

  <input type="radio" name="question1" value="val1"> I love snow, hot chocolate, and building snowman <br>
  <input type="radio" name="question1" value="val2">Mild weather is the way to go. Not too hot not too cold <br>
  <input type="radio" name="question1" value="val3">Nothing is better than cracking open a coconut on a hot sunny day by the beach<br>
  <input type="radio" name="question1" value="val4">I want to experiene scorching temperatures in a dessert envirement.<br>

<br>
What's your favorite food?
<br>

<input type="radio" name="question2" value="val1"> Smoked Lamb <br>
<input type="radio" name="question2" value="val2"> Hawaiian Barbecue <br>
<input type="radio" name="question2" value="val3">Clam Chowder<br>
<input type="radio" name="question2" value="val4">Cactus<br>


<br>


<input type="radio" name="question3" value="val1"> I love snow, hot chocolate, and building snowman <br>
<input type="radio" name="question3" value="val2">Mild weather is the way to go. Not too hot not too cold <br>
<input type="radio" name="question3" value="val3">Nothing is better than cracking open a coconut on a hot sunny day by the beach<br>
<input type="radio" name="question3" value="val4">I want to experiene scorching temperatures in a dessert envirement.<br>



<br>
<input type="radio" name="question4" value="val1"> I love snow, hot chocolate, and building snowman <br>
<input type="radio" name="question4" value="val2">Mild weather is the way to go. Not too hot not too cold <br>
<input type="radio" name="question4" value="val3">Nothing is better than cracking open a coconut on a hot sunny day by the beach<br>
<input type="radio" name="question4" value="val4">I want to experiene scorching temperatures in a dessert envirement.<br>

<br>
<input type="submit" value="Submit!"/>
</form>
